extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About us
        p Phasellus convallis ipsum ex, at pellentesque justo dapibus sed. In tristique commodo velit non varius. Curabitur quis semper magna. Aliquam molestie at dui sit amet laoreet. In cursus metus diam. Aenean eleifend eget felis at scelerisque. Etiam ultrices ipsum odio, quis blandit lacus finibus sed. Nam pellentesque massa sed metus luctus, id mattis nulla feugiat. Sed non nibh ligula. Etiam eu dui purus. Aliquam lacinia, tellus ut consequat volutpat, nulla urna dignissim sapien, ac accumsan turpis lorem ac ligula. Curabitur convallis interdum mi. Integer diam tortor, porttitor non elit eu, gravida commodo nibh. Aliquam aliquet, nibh eget sagittis laoreet, sem dui tincidunt metus, vitae volutpat ipsum magna non purus. Nulla aliquet, risus tempus tincidunt pretium, nisl velit sodales lectus, quis rhoncus felis massa id ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
        p Nulla luctus malesuada fermentum. Fusce facilisis iaculis posuere. In id magna lobortis, fermentum tellus auctor, consequat magna. Vestibulum at turpis ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam a libero lectus. Aliquam erat volutpat. Nulla pellentesque, diam cursus ultrices facilisis, leo magna fringilla elit, et rhoncus arcu nulla pulvinar dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse dapibus vel arcu at malesuada. Vivamus pharetra lorem quis odio porta, sit amet tincidunt diam malesuada. Nullam elementum aliquam nisl. Quisque sed felis massa. Fusce luctus purus ut tortor efficitur cursus.


