extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        
        p
          | Address: #[a Street Restaurant in Restaurant country] <br/>
          | Restaurant staff phone: #[a 0745123423] <br/>
          | Restaurant staff address: #[a restaurant-staff@restaurant.com] <br/>

        a.btn.btn-primary(href='#') Get in touch
