extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Restaurant main page
    p.lead Fusce porta lacus vel nisl ultricies mollis. Pellentesque elementum, tortor eu hendrerit finibus, purus orci pharetra orci, quis egestas erat nibh ac ipsum. Ut malesuada tellus elit, tempus consequat sem fermentum at. Integer id quam est. Curabitur orci massa, rhoncus vitae urna at, pharetra vehicula dui. Nam bibendum convallis ex in mollis. Nulla eu sollicitudin orci. Quisque vitae tempor augue. Morbi et dignissim metus. 

    p Praesent justo magna, congue vel elit viverra, interdum vulputate dolor. Quisque ut orci at ante venenatis cursus et sed sapien. Vivamus sit amet est turpis. In posuere leo non libero fringilla, a vestibulum orci aliquet. Phasellus non quam eu elit congue mollis. Nunc sollicitudin dapibus lacus id suscipit. Donec at enim vitae lacus dictum dignissim id ac nisi. Duis nec leo eget ante maximus pellentesque. Aliquam pharetra tincidunt tortor a ullamcorper. 

    p Aliquam sagittis imperdiet malesuada. Pellentesque malesuada convallis condimentum. Cras mauris urna, ultricies ac risus sagittis, cursus fringilla velit. Vestibulum sed justo sit amet urna cursus semper eu eu neque. Fusce aliquet velit vitae velit gravida, a efficitur felis aliquet. Nullam congue venenatis sem ac fermentum. Sed ut mauris vitae urna aliquam placerat quis vel sapien. Curabitur varius feugiat sem, a tempus eros aliquet id. Sed in eros tortor. Phasellus pulvinar mi mi, bibendum commodo sapien auctor luctus. Donec egestas, nulla eget congue vehicula, purus metus molestie est, a fringilla orci nisl eget sem. Proin vel augue in libero consectetur porta. In hac habitasse platea dictumst. Phasellus id consequat lacus, ut faucibus ligula. Suspendisse hendrerit nibh risus, in mollis nunc pretium eget. 


